body{
    background-color: gray;
    height: 100vh;
}
.container{
    width: 60%;
    height: 110%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;    
}
h1{
    color: azure;
    text-align: center;   
}
.mypicture{
    width: 150px;
    height: auto;   
}
.header{
    width: 100;
    height: fit-content;
    margin: 0 auto;
    text-align: center; 
}
.header img{
    width: 150px;
    height: auto;
    border-radius: 100px;
}
P{
    color: white;
    text-align: justify;

}
h2{
 color: white;
 text-align: left;
}
h3{
    color: white;
    text-align: justify;
}
   
    


   
